<div class="background-wrapper">
<%= render "shared/header" %>

  <div class="redirect-to">
    <%= link_to "マイページへ戻る", user_path(current_user.id), class: "redirect-to-mypage" %>
  </div>
  <div class="profile-wrap">
    <div class="title-profile">
      <h1>プロフィール</h1>
    </div>

    <div class="user-profile-info">
      <div class="user-profile-img">
        <%if @user.avatar.attached?%>
        <%= image_tag @user.avatar, class: "user-avatar-profile" %>
        <% end %>
      </div>
      <div class="user-profile-contents">
        <h4 class="user-profile"> <%= "お名前" %> </h4>
        <p> <%= "#{@user.first_name}  #{@user.last_name}" %> </p>
      </div>
      <div class="user-profile-contents">
        <h4 class="user-profile"> <%= "フリガナ" %> </h4>
        <p> <%= "#{@user.first_name_kana}  #{@user.last_name_kana}" %> </p>
      </div>
      <div class="user-profile-contents">
        <h4 class="user-profile"> <%= "生年月日" %> </h4>
        <p> <%= "#{@user.birth}" %> </p>
      </div>
      <div class="user-profile-contents">
        <h4 class="user-profile"> <%= "メールアドレス" %> </h4>
        <p> <%= "#{@user.email}" %> </p>
      </div>
    </div>
  </div>

<%= render "shared/footer" %>