<%= render "shared/header" %>

  <%= image_tag "lien-image.png", class:"lien-image" %>
  <%= image_tag "lien-image.png", class:"how-to" %>

  <h2 class="popular-room">人気の個展</h2>
  <div class=room-contents>
    <ul class="room-lists">
      <% @rooms.first(3).each do |room| %>
        <% if room.status == "released" %>
          <%= render partial: "shared/room_list", locals: {room: room} %>
        <% end %>
      <% end %>
      <div class="more-rooms">
        <%= link_to "more", "#", class: "popular-room-index" %>
      </div>
    </ul>
  </div>


<%= render "shared/footer" %>