<%= render "shared/header" %>

<%# 個展情報 %>
<div class="room-info-wrap">
  <div class="room-img-content">
    <%if @room.room_image.attached?%>
      <%= image_tag @room.room_image, class: "room-img-show" %>
    <% else %>
      <div class="room-img-content">
        <%= image_tag "lien_logo_mark.png", class:"no-img-show" %>
      </div>
    <% end %>
    <div class="like-btn-box", id="likes_buttons_<%= @room.id %>" >
      <%= render partial: 'likes/like' %>
    </div>
  </div>
  <% if user_signed_in? && @room.user_id == current_user.id %>
    <div class="room-edit-btn">
      <%= link_to new_room_item_path(@room), class:'room-edit' do%>
        <%= image_tag "edit_room.png", class: "room-edit-btn"%>
      <% end %>
    </div>
    <% end %>
  <div class="room-info-show">
    <div class="room-name-content">
      <h1 class="room-name-show"><%= @room.room_name %></h1>
    </div>
    <div class="room-user-name">
      <%= link_to @room.user.nickname, user_path(@room.user), class: "user-page" %>
    </div>
    <div class="room-introduction-content">
      <p class="room-introduction"><%= @room.room_introduction %></p>
    </div>
  </div>
</div>
<%# 個展情報 %>

<%# 作品の一覧 %>
<div class="maked-items">
    <ul class="item-lists">
      <% @items.each do |item| %>
        <li class="list">
          <%= link_to "/rooms/#{@room.id}/items/#{item.id}" do %>
            <div class="item-img-content">
              <%if item.item_image.attached?%>
              <%= image_tag item.item_image, class: "item-img" %>
              <%end%>
            </div>
            <div class="item-info">
              <h3 class="item-name">
                <%= item.item_name %>
              </h3>
              <h3 class="item-introduction">
                <%= item.item_introduction %>
              </h3>
            </div>
            <%# priceがある作品だけ表示する %>
            <% if item.price != nil %>
              <div class="item-price-content">
                <h4 class="item-price">
                  <%= "¥#{item.price}" %>
                </h4>
              </div>
            <% end %>
            <%# //priceがある作品だけ表示する %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
<%# 作品の一覧 %>
<div class="back-page">
<%=link_to 'Back', "javascript:history.back()", class:"back-btn" %>
</div>


<%= render "shared/footer" %>