<%= render "shared/header" %>

<%= link_to "マイページへ戻る", "", class: "move-to-mypage" %>
<div class="room-info">
  <div class="room-name-content">
    <h1 class="room-name"><%= @room.room_name %></h1>
  </div>
  <div class="room-img-content">
    <%if @room.room_image.attached?%>
    <%= image_tag @room.room_image, class: "room-img" %>
    <%end%>
  </div>
  <div class="room-introduction-content">
    <p class="room-introduction"><%= @room.room_introduction %></p>
  </div>
  <div class="room-destroy-btn">
    <%= link_to '個展の削除', "/rooms/#{@room.id}", method: :delete, data: { confirm: '個展内の作品も消えますがよろしいですか？' }, class:'room-destroy' %>
  </div>
</div>

<%= form_with model: @item, url: room_items_path, method: :post, id: 'new_item', class: 'item-main', local: true do |f| %>

  <%# エラーメッセージの表示 %>
  <%= render 'shared/error_messages', model: f.object %>
  <%# //エラーメッセージの表示 %>

  <%# 作品追加フォーム %>
  <div class="new-items">
        <div class="weight-bold-text">
          作品名
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :item_name, class:"items-text", id:"item-name", placeholder:"作品名（必須 20文字まで)", maxlength:"20" %>
        <div class="items-explain">
          <div class="weight-bold-text">
            作品の説明
            <span class="indispensable">任意</span>
          </div>
          <%= f.text_area :item_introduction, class:"items-text", id:"item-info", placeholder:"作品の説明（必須 100文字まで)" ,rows:"5" ,maxlength:"100" %>
        </div>
        <div class="item-img-upload">
          <div class="weight-bold-text">
            作品画像
            <span class="indispensable">必須</span>
          </div>
          <div class="click-upload">
            <p>
              クリックしてファイルをアップロード
            </p>
            <%= f.file_field :item_image, id:"item-image" %>
          </div>
        </div>
        <div class="item-price">
          <div class="weight-bold-text">
            作品の料金
            <span class="indispensable">任意</span>
            <p>販売を希望しない場合は空欄で可</p>
          </div>
          <span class="sell-yen">¥</span>
          <%= f.text_field :price, class:"price-input", id:"item-price", placeholder:"例）10000" %>
        </div>
        <div class="sell-btn-contents">
          <%= f.submit "作品追加" ,class:"sell-btn" %>
          <%=link_to 'もどる', "javascript:history.back()", class:"back-btn" %>
        </div>
  </div>
  <%# //作品追加フォーム %>

  <%# 追加した作品の一覧 %>
  <div class="maked-items">
    <ul class="item-lists">
      <% @items.each do |item| %>
        <li class="list">
          <%= link_to "/rooms/#{@room.id}/items/#{item.id}/edit" do %>
            <div class="item-img-content">
              <%if item.item_image.attached?%>
              <%= image_tag item.item_image, class: "item-img" %>
              <%end%>
            </div>
            <div class="item-info">
              <h3 class="item-name">
                <%= item.item_name %>
              </h3>
              <h3 class="item-introduction">
                <%= item.item_introduction %>
              </h3>
            </div>
            <%# priceがある作品だけ表示する %>
            <% if item.price != nil %>
              <div class="item-price-content">
                <h4 class="item-price">
                  <%= item.price %>
                </h4>
              </div>
            <% end %>
            <%# //priceがある作品だけ表示する %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <%# //追加した作品の一覧 %>

<% end %>

<% if @room.released? %>
  <%= link_to '非公開にする',"/rooms/nonrelease/#{@room.id}", method: :patch%>
<% else %>
  <%= link_to '公開する',"/rooms/release/#{@room.id}", method: :patch%>
  <%= link_to '公開しない', root_path %>
<% end %>


<%= render "shared/footer" %>